#imagesContainer{
    width:100%
}
#imagesContainer div.imageWrapper{
    width:200px;
    height:112.5px;
    display: inline-block;
    overflow: hidden;
    margin-bottom:2px;
    margin-right:5px;
    margin-left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    border:5px solid #FFF;
    -webkit-box-shadow: 1px 1px 1px 1px #CCC;
    -moz-box-shadow: 1px 1px 1px 1px #CCC;
    box-shadow: 1px 1px 1px 1px #CCC;
}
#imagesContainer div.imageWrapper img{

}
.fake-layer-content .switch-btn{
    display: inline-block;
    width:34px;
}
.fake-layer-content .fake-layer-imgWrapper{
    display: inline-block;
    overflow: hidden;
    background: #000;
    text-align: center;
    vertical-align: middle;
}
.fake-layer-content .fake-layer-imgWrapper img{
    margin-top: -1px;
}
.fake-layer-content p{
    text-align: center;
    margin-top:5px;
    font-size:16px;
    color:#CCC;
    letter-spacing: 1.5px;
}