#addComment {
    position: relative;
    background-color: #f6f7f9;
    padding: 4px 8px;
}

#addComment .avatar-container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, .1);
}

#addComment .avatar-container img {
    width: 100%;
}

#addComment div.div-1 {
    position: relative;
}

#addComment div.div-1 > div {
    position: absolute;
    left: 0;
    top: 0;
}

#addComment div.div-2 {
    padding-left: 42px;
    width: 100%;
}

#addComment div.div-2 > div {
    border: 1px solid #BBB;
    border-radius: 6px;
    font-size: 13px;
    font-family: 'Microsoft YaHei';
    background-color: #FFF;
}

#addComment div.div-2 > div textarea {
    width: 100%;
    resize: none;
    padding: 2px 8px;
    word-break: break-all;
}

#addComment div.div-2 > div > div {
    text-align: right;
    padding-right: 10px;
}

#addComment div.div-2 > div > div > a {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-image: url(../../assets/image/RMrUMzRNO-L.png);
    background-repeat: no-repeat;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: -34px -1040px;
}

#addComment div.msg-emoji-container {
    /*display: none;*/
    position: absolute;
    bottom: -186px;
    right: 5px;
    width: 600px;
    min-height: 180px;
    background: #FFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
    border-radius: 3px;
}

#addComment div.msg-emoji-container > div {
    width: 100%;
    height: 180px;
    position: relative;
}

#addComment div.msg-emoji-container > div .msg-emoji-list {
    height: 150px;
    width: 100%;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

#addComment div.msg-emoji-container > div .msg-emoji-list > div {
    width: 4800px;
}

#addComment div.msg-emoji-container > div .msg-emoji-list > div > div.clearfix {
    list-style: none;
    width: 600px;
    float: left;
    padding:4px;
}
#addComment div.msg-emoji-container > div .msg-emoji-list > div > div.clearfix > div{
    width: 596px;
    height:150px;
    overflow-x: auto;
}
#addComment div.msg-emoji-container > div .msg-emoji-list  > div > div.clearfix span.emojiwrapper{
    display: inline-block;
    width:28px;
    height:28px;
    padding:1px;
    border:1px solid transparent;
}
#addComment div.msg-emoji-container > div .msg-emoji-list  > div > div.clearfix span.emoji {
    display:block;
    width:24px;
    height:24px;
    background-image: url("../image/emoji/fbv9.min.png");
}
#addComment div.msg-emoji-container > div .msg-emoji-list  > div > div.clearfix span.emojiwrapper:hover{
    border:1px solid #555;
}


#addComment div.msg-emoji-container > div .msg-emoji-class {
    padding: 7px 10px;
    height: 30px;
    width: 100%;
    background: #f6f7f9;
    border-top: 1px #dddfe2 solid;
    border-radius: 0 0 2px 2px;
    border-radius: 0 0 3px 3px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul {
    list-style: none;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li {
    display: inline-block;
    margin-right: 15px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a {
    cursor: pointer;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a > span {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../../assets/image/xKMTeLQWShG.png);
    background-repeat: no-repeat;
    background-size: auto;
    transition: all 0.2s;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-1 span.emoji-hover {
    background-position: 0 -221px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-1 span {
    background-position: 0 -204px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-2 span.emoji-hover {
    background-position: 0 -51px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-2 span {
    background-position: 0 -34px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-3 span.emoji-hover {
    background-position: 0 -119px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-3 span {
    background-position: 0 -102px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-4 span.emoji-hover {
    background-position: 0 -17px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-4 span {
    background-position: 0 0;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-5 span.emoji-hover {
    background-position: 0 -153px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-5 span {
    background-position: 0 -136px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-6 span.emoji-hover {
    background-position: 0 -255px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-6 span {
    background-position: 0 -238px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-7 span.emoji-hover {
    background-position: 0 -289px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-7 span {
    background-position: 0 -272px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-8 span.emoji-hover {
    background-position: 0 -85px;
}

#addComment div.msg-emoji-container > div .msg-emoji-class ul > li > a.emoji-class-8 span {
    background-position: 0 -68px;
}

#addComment div.msg-emoji-container i.msg-emoji-i1 {
    position: absolute;
    display: block;
    background-image: url(../../assets/image/qjMhT4sjg84.png);
    background-repeat: no-repeat;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0 -428px;
    top: -8px;
    height: 8px;
    width: 16px;
    right: 12px;
}

#messageListContainer img.msg-avatar {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #dff0d8;
    float: left;
}

#messageListContainer ul.msg-level-1 > li {
    margin-bottom: 15px;
}

#messageListContainer ul.msg-level-2 {
    margin-left: 40px;
}

#messageListContainer ul.msg-level-2 img.msg-avatar {
    width: 25px;
    height: 25px;
}

#messageListContainer div.msg-info {
    float: left;
}

#messageListContainer div.msg-info span.msg-info-nickname {
    color: darkblue;
    font-weight: bolder;
}